.question-container {
  font-family: "Grandstander";
  margin: auto;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(../../resources/QuisbeeBackground.png);
  background-size: 1500px 780px;
  position: fixed; 
  top: 0; 
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.render-question {
  font-weight: 400px;
  font-size: 38px;
}

.choices-btns {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 100px;
  border-radius: 32px;
}

.next-btn {
  width: 300px;
  margin-top: 56px;
}

.next-question {
  font-weight: bold;
  font-family: "Grandstander";
  font-size: 30px;
  
}

