.form-container {
  border: 1px solid black;
  width: 480px;
  height: 380px;
  border-radius: 6px;
  font-family: "Open Sans";
  margin: auto;
  margin-top: 10%;
}

.bottom-divider {
  display: block;
  width: 90%;
  height: 1px;
  background: black;
  margin: auto;
}

.input-fields {
  width: 190px;
  padding: 20px;
  border-radius: 4px;
}

.question-input {
  width: 385px;
  height: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

.answers {
  display: flex;
  flex-direction: column;
}