.form-container {
  border: 1px solid black;
  width: 480px;
  height: 300px;
  top: 219px;
  left: 330px;
  border-radius: 6px;
}

.bottom-divider {
  display: block;
  width: 90%;
  height: 1px;
  background: black;
  margin: auto;
}

.input-fields {
  width: 190px;
  padding: 20px;
  border-radius: 4px;
}

.choices-header {

}

.add-button {
  width: 30px;
  height: 20px;
}